* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins' , sans-serif;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

body {
    background-image: url('/images/top-image.svg');
    background-repeat: no-repeat;
}

h1 {
    color: var(--purple);
    font-size: 48px;
    font-weight: 900;
}

p {
    color: var(--black);
    margin-bottom: 48px;
}

.container {
    display: flex;
    align-items: stretch;
    height: 100vh;

    padding: 16px;

    background-image: url('/images/bottom-image.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

#first_box {
    height: 100%;
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 84px;
}

#second_box {
    height: 100%;
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    margin-top: 48px;
    height: 70%;
    margin-bottom: 94px;
}

.row {
    display: flex;
    gap: 48px;
}

span {
    color: var(--black);
    letter-spacing: 4px;
}

#time {
    letter-spacing: 8px;
    font-size: 72px;
    color: var(--black);
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
    }
    #first_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
        font-size: 2em;
    }
    #second_box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
    img {
        height: 70%;
        padding-left: 24px;
        padding-right: 24px;
    }
}
